<div class="container">
  <div class="row my-5">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-4 text-primary">About</h1>
      <p class="lead">Website aplikasi Manajemen Kontak</p>
      <p class="text-muted">
        Aplikasi ini saya buat sebagai bagian dari portofolio untuk menampilkan
        kemampuan dalam pengembangan web. Aplikasi ini berfungsi untuk
        memudahkan pengelolaan kontak dengan fitur CRUD (Create, Read, Update,
        Delete) yang sederhana.
      </p>
    </div>
  </div>
  <div class="row my-5 text-center">
    <div class="col-lg-4">
      <div class="card border-0 shadow h-100">
        <div class="card-body d-flex flex-column">
          <i class="lni lni-user display-4 text-primary mb-3"></i>
          <h5 class="card-title">Profil Saya</h5>
          <p class="card-text">
            Seorang mahasiswa yang berfokus pada pengembangan web, khususnya di
            bagian backend development.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-0 shadow h-100">
        <div class="card-body d-flex flex-column">
          <i class="lni lni-code display-4 text-primary mb-3"></i>
          <h5 class="card-title">Website</h5>
          <p class="card-text">
            Aplikasi ini dibangun menggunakan Express.js, sebuah framework web
            untuk Node.js yang memungkinkan saya membuat aplikasi web dengan
            cepat dan efisien.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-0 shadow h-100">
        <div class="card-body d-flex flex-column">
          <i class="lni lni-graduation display-4 text-primary mb-3"></i>
          <h5 class="card-title">Tujuan</h5>
          <p class="card-text">
            Belajar mengenai framework ExpressJS dan terus mengembangkan
            kemampuan di bidang web development.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
