<div class="main p-3 hero">
  <div class="container">
    <h1>Welcome to Simple Contact App</h1>
    <p>Simple Contact App with CRUD</p>
    <a href="/contact" class="btn btn-outline-light btn-lg">Contacts</a>
  </div>
</div>
